name: C Project CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Compile Tests
      run: gcc -o unit_tests unit-test.c

    - name: Run Unit Tests
      run: ./unit_tests